*{
   margin: 0;
   padding: 0;
   border: 0;
   font-family: sans-serif;
}
body{
   width: 100%;
    height: 100%;
    background-color: #eee;
   position: relative;
}
p{
   line-height: 1.8em;
}
.other p{
   margin-top: 10px;
}
.description p{
   line-height: 1.8em;
   margin-top: 20px;
}
.content{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 50%; left: 50%;
   transform: translate(-50%, -50%);
   margin-top: 50px;
}
#card{
   margin: 0 auto;
   width: 30%;
   border-radius: 5px;
   background-color: #FFF;
   box-shadow: 0px 5px 50px 5px rgba(30, 30, 30, 0.4);
   padding: 20px;
}
@media screen and (max-width: 1000px){
   #card{
      margin-bottom: 20px;
      width: 80%;
   }

   .header div{
      float: none;
      margin: 0 auto;
   }
   #person{
      font-size: 2em;
      margin-bottom: 10px;
   }
   .header div *{
      
      text-align:center;
   }
}
.general{
   padding: 20px;
}
.person{
   float: left;
}
.score{
   float: right;
   text-align: center;
}

.general::after{
   clear: both;
   display: table;
   content: "";
}
.header, .other{
   border-bottom: 1px solid black;
}
.general-wrapper{
   width: 100%; 
}
.footer{
   width: 100%;
   height: 20%;
}

.navigation{
   display: flex;
   width: 100%;
   justify-content: space-around;
}
.navigation p{
   border-bottom: 1px solid rgba(30, 30, 30, 0);
   padding-bottom: 5px;
   transition: .2s all;
   cursor: pointer;
   height: auto;
   text-align: center;
   display: inline-block;
   position: relative;
   top: 10px;
   margin-bottom: 10px;
}
.navigation p:hover{
   transition: .2s all;
   border-bottom: 1px solid rgba(30, 30, 30, 1);
   margin-bottom: 13px;
   padding-bottom: 2px;
}
